@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #323946;
}

nav {
    font-family: 'Quicksand', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    height: 65px;
    background-color: black;
    color: #fff;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 72px;
    padding: 0 10px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-weight: 1.3rem;
}

.bottom {
    position: sticky;
    bottom: 0;
    height: 130px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 30px;
}

.icons i {
    font-size: 2.3rem;
    margin-left: 34px;
    cursor: pointer;
}

#myProgressBar {
    width: 80vw;
    cursor: pointer;
}

.container {
    min-height: 72vh;
    font-family: 'Cinzel Decorative', cursive;
    background-color: black;
    color: #fff;
    display: flex;
    margin: 21px auto;
    width: 70%;
    border-radius: 20px;
    padding: 34px;
}

.songItem {
    border: 2px solid white;
    /* height: 100%; */
    display: flex;
    color: rgb(238, 229, 229);
    margin: 12px 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 8px;
}

.songItem:hover {
    border-color: #0ef;
}

.songItem img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.songItem img:hover {
    animation-name: rotate;
    animation-direction: normal;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    cursor: pointer;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }

}

.songItemContainer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-gap: 2rem 6rem;
    /* border: 2px solid yellow; */
    margin: 0 auto;
}

.songListPlay h3 {
    font-weight: 300;
    text-align: center;
    padding-top: 10px;
    margin: auto 1px;
    font-size: 1.7rem;
}

.songItemPlay {
    font-size: 1.95rem;
    cursor: pointer;

}

.songInfo {
    font-family: 'Shadows Into Light', cursive;
    position: absolute;
    left: 10vw;
    font-size: 1.5rem;
    letter-spacing: .2px;
}

.songInfo img {
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.songName {
    text-align: center;
}